[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eratosthenes"]
	path = eratosthenes
	url = https://github.com/scollinselliott/eratosthenes
[submodule "lakhesis"]
	path = lakhesis
	url = https://github.com/scollinselliott/lakhesis
